<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team2.mapper.ChooMapper">

<select id="hosCheck" resultType="int">
	select count(*) from hosgrade where name=#{name} and addr=#{addr} 
</select>

<select id="gradeList" resultType="ChooTestDTO">
	(<![CDATA[select * from(select e.*, rownum r from(select * from hosgrade order by reg desc)e) where name=#{name} and addr=#{addr} and r >=#{startRow} and r <=#{endRow}]]>)
</select>

<insert id="insert">
	insert into hosgrade(num,name,id,title,addr,con,pw,reg) values(hos_seq.NEXTVAL, #{name}, #{id}, #{title}, #{addr}, #{con}, #{pw}, sysdate)
</insert>

<select id="gradeselect" resultType="ChooTestDTO">
	select * from hosgrade where name=#{name} and addr=#{addr}
</select>

<select id="gradecon" resultType="ChooTestDTO">
	select * from hosgrade where num=#{num} and addr=#{addr}
</select>

<select id="goodCheck" resultType="int">
	select good from hosgrade where num=#{num} and name=#{name} and addr=#{addr} and id=#{id}
</select>

<select id="badCheck" resultType="int">
	select bad from hosgrade where num=#{num} and name=#{name} and addr=#{addr} and id#{id}
</select>

<update id="goodinsert">
	update hosgrade
	<set>
		good=+1,
		total=+1 
	</set>
	where num=#{num} and name=#{name} and addr=#{addr} and id=#{id}
</update> 

<update id="goodupdate">
	update hosgrade
	<set>
		good=-1,
		total=-1
	</set>
	where num=#{num} and name=#{name} and addr=#{addr} and id=#{id}
</update>

<select id="pwCheck" resultType="int">
	select count(*) from hosgrade where num=#{num} and pw=#{pw}
</select>

<update id="gradeUpdate">
	update hosgrade
	<set>
		<if test="title != null">title=#{title},</if>
		<if test="con != null">con=#{con}</if>
	</set>
	where num=#{num} and addr=#{addr}
</update>

<delete id="gradedelect">
	delete from hosgrade where num=#{num} and addr=#{addr}
</delete>

<select id="gesipancount" resultType="int">
	select count(*) from gesipan
</select>

<select id="gesipanList" resultType="ChooGesipan">
	(<![CDATA[select * from(select e.*, rownum r from(select * from gesipan order by reg desc)e) where r >=#{startRow} and r <=#{endRow}]]>)
</select>

<insert id="gesipaninsert">
	insert into gesipan(num,id,pw,title,con,reg) values(gesi_seq.NEXTVAL, #{id}, #{pw}, #{title}, #{con}, sysdate)
</insert>

<select id="gesipancon" resultType="ChooGesipan">
	select * from gesipan where num=#{num}
</select>

<insert id="reconinsert">
	insert into recon(num,renum,id,con,reg) values(#{num}, recon_seq.NEXTVAL, #{id}, #{con}, sysdate)
</insert>

<select id="reconlist" resultType="ChooRecon">
	select * from recon where num=#{num}
</select>

<select id="memtype" resultType="RohDTO">
	select * from p2_member where id=#{id}
</select>

<select id="pwcheck" resultType="int">
	select count(*) from gesipan where num=#{num} and pw=#{pw}
</select>

<update id="gesipanupdate">
	update gesipan
	<set>
		<if test="title != null">title=#{title},</if>
		<if test="con != null">con=#{con}</if>
	</set>
	where num=#{num}
</update>

<delete id="gesipandelect">
	delete from gesipan where num=#{num}
</delete>

<select id="conCheck" resultType="int">
	select count(*) from gesipan where id=#{id}
</select>

<select id="mycon" resultType="ChooGesipan">
	select * from gesipan where id=#{id}
</select>

</mapper>