<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team2.mapper.RohMapper">

	<insert id="signup">
		insert into p2_member values(p2_member_seq.nextval, #{id}, #{pw}, #{name}, #{birth}, #{memberType}, #{ip}, sysdate, #{enabled})
	</insert>

	<select id="signin" resultType="int">
		select count(*) from p2_member where id=#{id} and pw=#{pw}
	</select>
	
	<delete id="withdrawal">
		delete from p2_member where id=#{id} and pw=#{pw} 
	</delete>
	
	<select id="myinfo" resultType="RohDTO">
		select * from p2_member where id=#{id}
	</select>
	
	<!-- 추후에 더 늘어날 수 있어서 동적 쿼리문으로 작성함 -->
	<update id="myinfoUpdate">
		update p2_member
		<set>
			<if test="pw != null">pw=#{pw2}</if>
		</set>
		where id=#{id} and pw=#{pw}
	</update>
	
	<select id="findMyId" resultType="RohDTO">
		select * from p2_member where name=#{name} and birth=#{birth}
	</select>
	
	<select id="findMyPw" resultType="RohDTO">
		select * from p2_member where id=#{id} and name=#{name} and birth=#{birth}
	</select>
	
	<select id="kSignin" resultType="int">
		select count(*) from p2_kMember where kId=#{kId}
	</select>
	
	<insert id="kSignup">
		insert into p2_kmember values(#{kId}, #{kNick}, #{kGender}, #{kAge}, '1', sysdate, '1')
	</insert>
	
	<select id="kMyinfo" resultType="RohDTO">
		select * from p2_kmember where kId=#{kId}
	</select>
	
	<select id="findTest" resultType="int">
		select count(*) from p2_member
		<where>
			<choose>
				<!-- 아이디 찾기 -->
				<when test="name != null and birth != null">
					and name=#{name} and birth=#{birth}
				</when>
				<!-- 비밀번호 찾기 -->
				<when test="id != null and name != null and birth != null">
					and id=#{id} and name=#{name} and birth={birth}
				</when>
				<otherwise>
					AND 1=1
				</otherwise>
			</choose>
		</where> 
	</select>
	
	<select id="memberList" resultType="RohDTO">
		<![CDATA[select * from(select e.* , rownum r from(select * from p2_member order by num desc)e) where r >=#{startRow} and r <=#{endRow}]]>
	</select>
	
	<select id="memberCount" resultType="int">
		select count(*) from p2_member
	</select>
	
	<update id="memberEnabled">
		update p2_member set enabled='1' where id=#{id}
	</update>
	
	<update id="memberDisabled">
		update p2_member set enabled='0' where id=#{id}
	</update> 
</mapper>