/* 신체부위별 찾기 */
.body-search #body-image {
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-search #body-image:before {
  content: '';
  display:block;	
  width: 226px;
  height: 608px;
  background-repeat: no-repeat;
  background-image: url(/hos/resources/img/img-body.png);
}

.body-search .body-image1:before {
  background-position: 0px 0px;
}

.body-search .body-image2:before {
  background-position: 0px -628px;
}

.body-search .body-image3:before {
  background-position: 0px -1256px;
}

.body-search .body-image4:before {
  background-position: 0px -1884px;
}

.body-search .body-image5:before {
  background-position: 0px -2512px;
}

.body-search .body-image6:before {
  background-position: 0px -3140px;
}

.body-search .body-image7:before {
  background-position: 0px -3768px;
}

.body-search .body-image8:before {
  background-position: 0px -4396px;
}

.body-search .body-image9:before {
  background-position: 0px -5024px;
}

.body-search .body-image10:before {
  background-position: 0px -5652px;
}

.body-search .body-image11:before {
  background-position: 0px -6280px;
}

.body-search .body-image12:before {
  background-position: 0px -6908px;
}

.body-search .body-list {
  text-align: center;
  margin: 15px -15px;
}

.body-list li{
	display: block;
}

.body-search .body-list:after {
  display: block;
  clear: both;
  content: '';
}

.body-search .body-list li {
  width: calc(50% - 30px);
  margin: 15px;
  float: left;
}

.body-search .body-list .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e6e6e6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
}

.body-search .body-list input:checked + .label {
  border-color: #0094fb;
  font-weight: bold;
  color: #0094fb;
}

.body-search .btn-area {
  text-align: center;
}

@media (min-width: 1025px) {
  .body-search {
    border: 1px solid #e6e6e6;
  }
  .body-search:after {
    display: block;
    clear: both;
    content: '';
  }
  .body-search #body-image {
    float: left;
    width: 100%;
    height: 697px;
    border-right: 1px solid #e6e6e6;
  }
  .body-search .body-menu {
    float: right;
    width: 50%;
    padding: 55px 30px;
  }
  .body-search .body-list .label {
    height: 50px;
  }
  
}

.body_type {
	display: none;
}

@media (max-width: 1024.98px) {
  .body-search #body-image {
    border: 1px solid #e6e6e6;
    height: 338px;
    background-size: 109px auto;
  }
  .body-search #body-image:before {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .body-search .body-list {
    margin: 22.5px -7.5px;
  }
  .body-search .body-list .label {
    height: 40px;
  }
  .body-search .body-list li {
    width: calc(50% - 15px);
    margin: 7.5px;
  }
}


.section-disease-search .audult-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-disease-search .tab-menu1:before {
  display: none;
}
.section-disease-search #body-image:before {
  content: '';
  display:block;	
  width: 218px;
  height: 615px;
  background-repeat: no-repeat;
  background-image: url(/hos/resources/img/img-body.png);
}


.section-disease-search .body-image1:before {
  background-position: -10px 0px;
}

.section-disease-search .body-image2:before {
  background-position: -10px -628px;
}

.section-disease-search .body-image3:before {
  background-position: -10px -1256px;
}

.section-disease-search .body-image4:before {
  background-position: -10px -1884px;
}

.section-disease-search .body-image5:before {
  background-position: -10px -2512px;
}

.section-disease-search .body-image6:before {
  background-position: -10px -3140px;
}

.section-disease-search .body-image7:before {
  background-position: -10px -3768px;
}

.section-disease-search .body-image8:before {
  background-position: -10px -4396px;
}

.section-disease-search .body-image9:before {
  background-position: -10px -5024px;
}

.section-disease-search .body-image10:before {
  background-position: -10px -5652px;
}

.section-disease-search .body-image11:before {
  background-position: -10px -6280px;
}

.section-disease-search .body-image12:before {
  background-position: -10px -6908px;
}

.section-disease-search .body-image13:before {
  background-position: -10px -7536px;
}



[type="radio"]{
	vertical-align: middle;
	appearance: none;
}


  .ghost-button {
    position: absolute;
    top: 23%;
    left: 29.24%;
    transform: translate(-50%, -50%);
    /* Add any additional styling you want for the button */
    padding: 1px 2px;
    background-color: transparent;
    color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.ghost-button:hover {
	background-color:transparent;
	color:transparent;
}


  .ghost-button2 {
    position: absolute;
    top: 35%;
    left: 29.24%;
    transform: translate(-50%, -50%);
    /* Add any additional styling you want for the button */
    padding: 1px 2px;
    background-color: transparent;
    color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.ghost-button2:hover {
	background-color:transparent;
	color:transparent;
}


  .ghost-button3 {
    position: absolute;
    top: 30%;
    left: 29.24%;
    transform: translate(-50%, -50%);
    /* Add any additional styling you want for the button */
    padding: 1px 2px;
    background-color: transparent;
    color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.ghost-button3:hover {
	background-color:transparent;
	color:transparent;
}

  .ghost-button4 {
    position: absolute;
    top: 42%;
    left: 29.24%;
    transform: translate(-50%, -50%);
    /* Add any additional styling you want for the button */
    padding: 1px 2px;
    background-color: transparent;
    color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.ghost-button4:hover {
	background-color:transparent;
	color:transparent;
}


  .ghost-button5 {
    position: absolute;
    top: 49.7%;
    left: 29.24%;
    transform: translate(-50%, -50%);
    /* Add any additional styling you want for the button */
    padding: 1px 2px;
    background-color: transparent;
    color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.ghost-button5:hover {
	background-color:transparent;
	color:transparent;
}


  .ghost-button6 {
    position: absolute;
    top: 52%;
    left: 24.6%;
    transform: translate(-50%, -50%);
    /* Add any additional styling you want for the button */
    padding: 1px 2px;
    background-color: transparent;
    color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.ghost-button6:hover {
	background-color:transparent;
	color:transparent;
}


  .ghost-button7 {
    position: absolute;
    top: 40%;
    left: 25.6%;
    transform: translate(-50%, -50%);
    /* Add any additional styling you want for the button */
    padding: 1px 2px;
    background-color: transparent;
    color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.ghost-button7:hover {
	background-color:transparent;
	color:transparent;
}


  .ghost-button8 {
    position: absolute;
    top: 52%;
    left: 34%;
    transform: translate(-50%, -50%);
    /* Add any additional styling you want for the button */
    padding: 1px 2px;
    background-color: transparent;
    color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.ghost-button8:hover {
	background-color:transparent;
	color:transparent;
}


  .ghost-button9 {
    position: absolute;
    top: 40%;
    left: 32.8%;
    transform: translate(-50%, -50%);
    /* Add any additional styling you want for the button */
    padding: 1px 2px;
    background-color: transparent;
    color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.ghost-button9:hover {
	background-color:transparent;
	color:transparent;
}

  .ghost-button10 {
    position: absolute;
    top: 80%;
    left: 27.6%;
    transform: translate(-50%, -50%);
    /* Add any additional styling you want for the button */
    padding: 1px 2px;
    background-color: transparent;
    color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.ghost-button10:hover {
	background-color:transparent;
	color:transparent;
}

  .ghost-button11 {
    position: absolute;
    top: 80%;
    left: 30.7%;
    transform: translate(-50%, -50%);
    /* Add any additional styling you want for the button */
    padding: 1px 2px;
    background-color: transparent;
    color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.ghost-button11:hover {
	background-color:transparent;
	color:transparent;
}

  .ghost-button12 {
    position: absolute;
    top: 60%;
    left: 28%;
    transform: translate(-50%, -50%);
    /* Add any additional styling you want for the button */
    padding: 1px 2px;
    background-color: transparent;
    color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.ghost-button12:hover {
	background-color:transparent;
	color:transparent;
}

  .ghost-button13 {
    position: absolute;
    top: 60%;
    left: 30.5%;
    transform: translate(-50%, -50%);
    /* Add any additional styling you want for the button */
    padding: 1px 2px;
    background-color: transparent;
    color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.ghost-button13:hover {
	background-color:transparent;
	color:transparent;
}

  .ghost-button14 {
    position: absolute;
    top: 26.5%;
    left: 29.24%;
    transform: translate(-50%, -50%);
    /* Add any additional styling you want for the button */
    padding: 1px 2px;
    background-color: transparent;
    color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.ghost-button14:hover {
	background-color:transparent;
	color:transparent;
}

  .add-button {
    position: absolute;
    top: 32%;
    left: 45.4%;
    transform: translate(-50%, -50%);
    /* Add any additional styling you want for the button */
    padding: 1px 2px;
    background-color: transparent;
    color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.add-button:hover {
	background-color:transparent;
	color:white;
}


  .buttonContainer {
    position: absolute;
    top: 32%;
    left: 45.4%;
    transform: translate(-50%, -50%);
    /* Add any additional styling you want for the button */
    padding: 1px 2px;
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.buttonContainer:hover {
	background-color:transparent;
	color:white;
}







/* styles.css */

#buttonContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Additional styles for custom-button class (if used) */
/* .custom-button {
    background-color: #ff0000;
    color: #fff;
    font-weight: bold;
} */



